version: '3.8'

services:


  kafka:
    image: confluentinc/cp-kafka:7.8.3
    container_name: kafka
    ports:
      - "9092:9092"

    environment:
      KAFKA_KRAFT_MODE: 'true'

      CLUSTER_ID: '1L6g7nGhU-eAKfL--X25wo'
      KAFKA_NODE_ID: 1

      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,CONTROLLER://0.0.0.0:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs


    volumes:
      - kafka_kraft:/var/lib/kafka/data
    healthcheck:
      test: ["CMD", "kafka-broker-api-version", "--bootstrap.servers", "kafka:9092"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./app
    container_name: api-app
    ports:
      - "8000:8000"
    environment:
      KAFKA_HOST: kafka
      KAFKA_PORT: "9092"

    depends_on:
      - kafka


  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongo-database
      MONGO_INITDB_ROOT_PASSWORD: mongo-users-stor-password
      MONGO_DATABASE_NAME: users-stor
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mongosh", "--username", "mongo-database", "--password", "mongo-users-stor-password", "--eval", "db.adminCommand('ping')"]

      interval: 10s
      timeout: 5s
      retries: 5

  consumer:
    build: ./kafka-consumer
    container_name: consumer
    environment:
      KAFKA_HOST: kafka
      KAFKA_PORT: "9092"
      MONGO_URI: mongodb://mongo-database:mongo-users-stor-password@mongodb:27017/
      MONGO_DATABASE_NAME: users-stor
      MONGO_COLLECTION_NAME: users
    healthcheck: 
      test: ["CMD", "kafka-broker-api-version", "--bootstrap.servers", "kafka:9092"]
      interval: 10s
      timeout: 5s
      retries: 5

    depends_on:
      - kafka
      - mongodb

volumes:
  mongodb_data:
  kafka_kraft: